
@using TSOps.Models
@model TagModel

<h1>Web API Example Tool</h1>
<div id="container">
    <div id="read_description">
        <h2>Read Description</h2>
        @using (Html.BeginForm("GetTagInfo", "DataEntry", FormMethod.Post))
        {
            <span id="text">Tag name: </span>
            <input type="text" class="defaultTextBox" />
            @*@Html.TextBox("text box") *@
            <br />

            <div class="buttontemplate"><input id="Submit" type="submit" value="Read" /></div>
        }
        <hr size="8" width="90%">
        <span id="text">Status: </span> <br />
        <span id="text">Value: </span>
    </div>

    <div id="rename_point">
        <h2>Rename Point</h2>
        @using (Html.BeginForm("GetTagInfo", "DataEntry", FormMethod.Post))
        {
            <span id="text">Name: </span>
            @*@Html.TextBox("text box")*@
            <input type="text" class="defaultTextBox" />
            <br />
            <span id="text">New Name: </span>
            @*@Html.TextBox("text box")*@
            <input type="text" class="defaultTextBox" />

            <br />
            <div class="buttontemplate"><input id="Submit" type="submit" value="Rename" /></div>
            
        }
        <hr size="8" width="90%" color="red">
        <span id="text">Status: </span> <br />
        <span id="text">Value: </span>
    </div>
</div>
